.nx-blog-sec {
	background-color: #000000;
	.nx-ser1-top {
		.nx-sec-title1 {
			.subtitle {
				color: #fff;
			}
			.sec_title {
				color: #fff;
			}
		}
		.item-desc {
			p {
				color: #fff;
			}
		}
	}
}