.nx-pro3-sec {
	.container {
		max-width: 1744px;
	}
}

.nx-pro3-title {
	h3 {
		line-height: 1;
		font-size: 60px;
		font-weight: 500;
		margin-bottom: 35px;
		i {
			font-size: 18px;
		}
	}
	p {
		color: #474747;
		margin: 0 auto;
		max-width: 550px;
	}
}

.nx-pro3-item-area {
	.nx-pro3-item-wrap {
		gap: 30px;
		margin-bottom: 72px;
		@media #{$md,$sm,$xs,$xxs} {
			flex-wrap: wrap;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
@keyframes pxl_blinds_staggered {
	0%, 25% {
		background-position: 0 100%;
	}
	75%, 100% {
		background-position: 0 0;
	}
}
.nx-pro3-item {
	.item-img {
		overflow: hidden;
		margin-bottom: 30px;
		border-radius: 32px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
		img {
			transition: all 500ms ease-in-out;
		}
	}
	
	.item-text {
		gap: 15px;
		flex-wrap: wrap;
		.title_text {
			h3 {
				font-size: 32px;
				font-weight: 500;
				padding-bottom: 12px;
				&:hover {
					letter-spacing: 1px;
				}
			}
			.item-tag {
				a {
					line-height: 1;
					font-size: 15px;
					padding: 8px 10px;
					margin-right: 6px;
					margin-bottom: 4px;
					border-radius: 100px;
					letter-spacing: -.5px;
					border: 1px solid #4747474D;
				}
			}
		}
		.item-arrow {
			a {
				width: 72px;
				height: 56px;
				display: flex;
				border-radius: 100px;
				align-items: center;
				justify-content: center;
				border: 1px solid #474747;
				svg {
					path {
						transition: all 500ms ease-in-out;
					}
				}
			}
		}
	}
	&:is(.visible) {
		.item-img {
			&:before {
				background: repeating-linear-gradient(#868686, #fff 6.25%), -webkit-gradient(linear, left top, left bottom, color-stop(33.3%, #000), color-stop(0, grey), color-stop(66.7%, #fff)) 0 / 100% 305%;
				background: repeating-linear-gradient(#868686, #fff 6.25%), linear-gradient(#000 33.3%, grey 0, #fff 66.7%) 0 / 100% 305%;
				background-blend-mode: multiply;
				background-position: 0 0;
				-webkit-filter: contrast(999);
				filter: contrast(999);
				mix-blend-mode: screen;
				border-radius: 15px;
				-webkit-animation: pxl_blinds_staggered 1.5s linear alternate;
				animation: pxl_blinds_staggered 1.5s linear alternate;
			}
		}

	}
	&:hover {
		.item-img {
			img {
				transform: scale(1.05);
				mix-blend-mode: exclusion;
			}
		}
		.item-text {
			.item-arrow {
				a {
					border: 1px solid #000000;
					background-color: #000000;
					svg {
						path {
							fill: #fff;
						}
					}
				}
			}
		}
	}
}