.nx-ser3-sec {
	background-color: #111111;
	.container {
		max-width: 1454px;
	}
}

.nx-ser3-content {
	gap: 30px;
	display: flex;
	justify-content: space-between;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}


.nx-ser3-top {
	gap: 30px;
	flex-wrap: wrap;
	.nx-sec-title1 {
		max-width: 480px;
		.subtitle {
			color: #fff;
		}
		.sec_title {
			color: #fff;
			span {
				display: inline;
				color: #FFFFFFB2;
			}
		}
	}
	.item-desc {
		max-width: 412px;
		p {
			opacity: .8;
			color: #FFFFFF;
		}
	}
}

.nx-ser3-img {
	max-width: 558px;
	overflow: hidden;
	margin-bottom: 48px;
	border-radius: 32px;
	&:last-child {
		margin-bottom: 0;
	}
	.item-icon {
		left: 0;
		top: 42%;
		right: 0;
		width: 72px;
		opacity: 0;
		height: 72px;
		margin: 0 auto;
		visibility: hidden;
		position: absolute;
		transform: translateY(-30%);
		transition: all 300ms ease-in-out;
		a {
			color: #fff;
			width: 100%;
			height: 100%;
			display: flex;
			border-radius: 100%;
			align-items: center;
			justify-content: center;
			background-color: var(--nx-prime-c2);
			i {
				font-size: 28px;
				animation: EYE 1.5s infinite;
				transform-origin: 50% 50%;
			}
		}
	}
	.item-tag {
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 34px;
		position: absolute;
		background: #00000003;
		backdrop-filter: blur(36px);
		@media #{$xs,$xxs} {
			padding: 25px 15px;
		}
		a {
			color: #fff;
			margin-right: 8px;
			padding: 10px 16px;
			border-radius: 120px;
			background-color: #000000;
		}
	}
	&:hover {
		.item-icon {
			opacity: 1;
			visibility: visible;
			transform: translateY(-50%);
		}
	}
}

.nx-ser3-text-part {
	width: 100%;
	max-width: 772px;
}

.nx-ser3-text {
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		display: block;
		position: static;
		margin-bottom: 30px;
	}
	.item-serial {
		color: #fff;
		width: 60px;
		height: 60px;
		display: flex;
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 30px;
		align-items: center;
		border-radius: 100%;
		justify-content: center;
		background-color: #2D2D2D;
	}
	.item-top {
		margin-bottom: 18px;
		h3 {
			color: #fff;
			font-size: 32px;
			line-height: 1.2;
			font-weight: 700;
			max-width: 250px;
			letter-spacing: -1px;
		}
	}
	p {
		opacity: .8;
		color: #E4E4E4;
	}
	.item-bottom {
		padding-top: 15px;
		border-top: 1px solid #393939;
		span {
			color: #fff;
		}
	}

}