.nx-header-section {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	position: absolute;
	&:is(.header_style_one) {
		.nx-header-content {
			padding: 16px;
			margin: 0 auto;
			max-width: 1710px;
		}
		.nx-hd-action {
			gap: 12px;
			border-radius: 12px;
			background-color: #fff;
			padding: 4px 4px 4px 12px;
			@media #{$xxs} {
				padding: 10px;
			}
			.nx-ofcanvas-btn {
				cursor: pointer;
				svg {
					line {

					}
				}
			}
			.cta-btn {
				@media #{$xxs} {
					display: none;
				}
				a {
					color: #fff;
					line-height: 1;
					font-weight: 500;
					border-radius: 8px;
					padding: 12px 14px;
					background-color: var(--nx-prime-c);
				}
			}
		}
	}
	&:is(.header_style_two) {
		.nx-header-content {
			margin: 0 auto;
			padding: 0px 15px;
			max-width: 1710px;
			.brand-logo {
				padding-top: 20px;
			}
			.hd-hire {
				color: #fff;
				font-size: 17px;
				font-weight: 500;
				padding-left: 20px;
				position: relative;
				@media #{$lg,$md,$sm,$xs,$xxs} {
					display: none;
				}
				&:before {
					left: 0;
					top: 6px;
					width: 10px;
					content: '';
					height: 10px;
					border-radius: 100%;
					position: absolute;
					background-color: var(--nx-prime-c);
				}
			}
			.nx-ofcanvas-btn {
				gap: 12px;
				padding-top: 15px;
				span {
					color: #fff;
					font-size: 18px;
					font-weight: 600;
				}
				.of-icon {
					width: 44px;
					height: 44px;
					display: flex;
					border-radius: 100%;
					align-items: center;
					justify-content: center;
					background-color: var(--nx-prime-c);
				}
			}
		}
	}
}