.nx-header-section {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	position: absolute;
	&:is(.header_style_one) {
		.nx-header-content {
			padding: 16px;
			margin: 0 auto;
			max-width: 1710px;
		}
		.nx-hd-action {
			gap: 12px;
			border-radius: 12px;
			background-color: #fff;
			padding: 4px 4px 4px 12px;
			@media #{$xxs} {
				padding: 10px;
			}
			.nx-ofcanvas-btn {
				cursor: pointer;
				svg {
					line {

					}
				}
			}
			.cta-btn {
				@media #{$xxs} {
					display: none;
				}
				a {
					color: #fff;
					line-height: 1;
					font-weight: 500;
					border-radius: 8px;
					padding: 12px 14px;
					background-color: var(--nx-prime-c);
				}
			}
		}
	}
}