.nx-get-in2-sec {
	z-index: 1;
	.nx-get-bg {
		top: 0;
		left: 0;
		z-index: -1;
	}
}
.nx-get-in-touch2-text {
	padding-bottom: 435px;
	.nx-sec-title1 {
		.sec_title {
			font-size: 90px;
		}
		h3 {
			font-weight: 700;
			font-size: 44px;
			color: var(--nx-prime-c);
		}
	}
}

.nx-gn-btm-text {
	max-width: 467px;
	p {
		color: #E4E4E4;
		font-size: 17px;
		letter-spacing: -.5px;
		padding-bottom: 30px;
	}
	.btm-btn-grp {
		gap: 32px;
		.nx-btn1 {
			a {
				i {
					width: 45px;
					height: 45px;
				}
			}
		}
		.btn_more {
			gap: 12px;
			color: #fff;
			font-size: 18px;
			font-weight: 500;
			letter-spacing: -.5px;
		}
	}
}