.nx-newslatter-content {
	gap: 30px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.nx-newslatter-widget-social {
	width: 100%;
	max-width: 668px;	
}
.nx-newslatter-widget {
	gap: 24px;
	width: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	@media #{$xs,$xxs} {
		grid-template-columns: 1fr
	}
}
.nx-newslatter-text {
	max-width: 437px;
	.nx-sec-title1 {
		p {
			color: #E4E4E4;
		}
	}
	.nx-newslatter-form {
		margin-top: 30px;
		form {
			margin-bottom: 25px;
		}
		input {
			width: 100%;
			height: 45px;
			border: none;
			color: #E4E4E4B2;
			background-color: transparent;
			border-bottom: 1px solid #2A2A2A;
			&::placeholder {
				color: #E4E4E4B2;
			}
		}
		button {
			gap: 8px;
			display: flex;
			border: none;
			margin-top: 32px;
			align-items: center;
			border-radius: 12px;
			padding: 4px 16px 4px 4px;
			transition: all 300ms ease-in-out;
			background-color: var(--nx-prime-c);
			i {
				width: 44px;
				height: 44px;
				display: flex;
				align-items: center;
				border-radius: 12px;
				justify-content: center;
				background-color: #fff;
				transition: all 300ms ease-in-out;
			}
			span {
				color: #fff;
				font-size: 16px;
				font-weight: 600;
			}
			&:hover {
				background-color: #fff;
				i {
					background-color: var(--nx-prime-c);
					svg {
						path {
							fill: #fff
						}
					}
				}
				span {
					color: var(--nx-prime-c);
				}
			}
		}
		.newslatter-text {
			p {
				color: #E4E4E4;
				padding-bottom: 5px;
				letter-spacing: -.5px;
				a {
					font-weight: 500;
					color: var(--nx-prime-c);
				}
			}
			span {
				color: #E4E4E4E5;
			}
		}
	}
}

.nx-footer-widget2 {
	.widget-title {
		color: #E4E4E4;
		line-height: 1;
		font-weight: 500;
		opacity: .8;
		font-size: 18px;
		letter-spacing: -1px;
		font-family: var(--nx-body-font);
		position: relative;
		padding-bottom: 18px;
		position: relative;
		margin-bottom: 20px;
		&:before {
			left: 0;
			bottom: -1px;
			height: 1px;
			width: 100%;
			content: '';
			position: absolute;
			background-color: #2A2A2A;
		}
		&:after {
			left: 0;
			bottom: 0;
			width: 24px;
			height: 3px;
			content: '';
			position: absolute;
			background-color: var(--nx-prime-c);
		}
	}
	.menu-widget {
		li {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				opacity: .8;
				color: #E4E4E4;
				font-size: 17px;
				font-weight: 500;
				&:hover {
					opacity: 1;
					color: #fff;
					letter-spacing: .5px;
				}
			}
		}
	}
	.cta-widget {
		h4 {
			color: #fff;
			line-height: 1;
			font-size: 20px;
			font-weight: 500;
			padding-bottom: 10px;
			font-family: var(--nx-body-font);
		}
		h5 {
			color: #fff;
			font-size: 40px;
			font-weight: 500;
		}
		p {
			opacity: .8;
			color: #E4E4E4;
		}
		a {
			font-weight: 500;
			color: var(--nx-prime-c);
		}
	}
}

.nx-newslatter-social {
	margin-top: 105px;
	h4 {
		color: #fff;
		font-size: 24px;
		font-weight: 500;
	}
	ul {
		li {
			margin-left: 12px;
			a {
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}