.nx-ser2-top {
	gap: 30px;
	.nx-sec-title1 {
		max-width: 580px;
	}
	.item-desc {
		max-width: 395px;
		p {
			color: #fff;
			padding-bottom: 25px;
		}
	}
}

.nx-ser2-content {
	gap: 24px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.nx-ser2-item {
	height: 420px;
	width: 322px;
	position: relative;
	border-radius: 32px;
	background-color: #131313;
	border: 1px solid #202020;
	padding: 12px;
	transition: all 500ms ease-in-out;
	.front-part {
		width: 100%;
		height: 100%;
		flex-direction: column;
		transition: all 500ms ease-in-out;
		.item-icon {
			padding-top: 20px;
			padding-left: 20px;
		}
		.item-text {
			text-align: center;
			h3 {
				color: #fff;
				font-size: 24px;
				font-weight: 500;
				border-radius: 24px;
				letter-spacing: -1px;
				background-color: #1A1A1A;
				transition: all 500ms ease-in-out;
				a {
					padding: 20px 24px;
				}
				&:hover {
					color: #fff;
					background-color: var(--nx-prime-c);
				}
			}
		}
	}
	.back-part {
		top: 0;
		left: 0;
		z-index: 1;
		opacity: 0;
		width: 100%;
		height: 100%;
		padding: 12px;
		position: absolute;
		visibility: hidden;
		justify-content: space-between;
		transform: perspective(1000px) rotateX(-90deg);
		transition: all 500ms ease-in-out;
		@media #{$sm,$xs,$xxs} {
			flex-wrap: wrap;
			position: relative;
		}
		.item-icon {
			padding-top: 20px;
			padding-left: 20px;
		}
		.item-text {
			max-width: 316px;
			flex-direction: column;
			.title-text {
				border-radius: 32px;
				padding: 24px 24px 22px;
				background-color: #1A1A1A;
				h3 {
					color: #fff;
					font-size: 24px;
					font-weight: 500;
					letter-spacing: -1px;
					padding-bottom: 8px;
				}
				p {
					opacity: .8;
					color: #E4E4E4;
					padding-bottom: 28px;
				}
			}
			.item-tag {
				a {
					margin: 2px;
					color: #E4E4E4;
					font-size: 15px;
					padding: 6px 12px;
					border-radius: 32px;
					letter-spacing: -0.5px;
					background-color: #202020;
					&:hover {
						color: #fff;
						background-color: var(--nx-prime-c);
					}
				}
			}
		}
		.item-img {
			max-width: 316px;
			overflow: hidden;
			border-radius: 32px;
		}
	}
	&:is(.active) {
		width: 668px;
		.front-part {
			opacity: 0;
		}
		.back-part {
			opacity: 1;
			visibility: visible;
			transition-delay: 200ms;
			transform: rotateX(0) rotateY(0deg);
		}
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		width: 100%;
		height: 100%;
		max-width: 668px;
		.front-part {
			display: none !important;
		}
		.back-part {
			opacity: 1;
			position: relative;
			visibility: visible;
			transform: rotateX(0) rotateY(0deg);
			@media #{$md,$sm,$xs,$xxs} {
				justify-content: center;
			}
		}
	}
}